---
import CardHeader from '../components/CardHeader.astro';
import Links from '../components/Links.astro';
import Social from '../components/Social.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import Footer from '../components/Footer.astro';
import { getSettings } from '../lib/settings.js';

const settings = getSettings();
const deco = settings.Style.Decoration;
const align = settings.Style.Align;
const alignClass = align === 'center' ? 'text-center' : 'text-left';
const containerClass = `card mx-auto sm:p-7 w-96 max-w-full sm:shadow-lg rounded-3xl my-10 lg:mt-20 ${alignClass}`

let lineClasses = 'w-12 h-0.5 rounded-full bg-accent mb-6 mt-6';

if(align === 'center') {
  lineClasses = lineClasses + ' mx-auto';
}

---

<BaseLayout settings={settings}>
    <div class={containerClass}>
        <CardHeader name={settings.Header.Name} bio={settings.Header.Bio} avatar={settings.Header.Avatar} align={align} deco={settings.Style.Decoration} />
        <main>
            <Links links={settings.Links} />
            <Social social={settings.Social} align={align} />
            { (deco === 'all' || deco === 'lines') && <div aria-hidden="true" class={lineClasses}></div> }
        </main>
        <Footer txt={settings.Footer.Text} links={settings.Footer.Menu} align={ align } class="mt-6" />
    </div>
</BaseLayout>