---
import { Icon } from 'astro-icon/components';

const { social, align } = Astro.props;

const fallbackIcon = 'heroicons:link';

const activeSocial = Object.entries(social).filter(([_, url]) => url && url !== '');

const socialIcons = {
  twitter: 'simple-icons:x',
  stackoverflow: 'simple-icons:stackoverflow',
} as Record<string, string>;

const defaultSocials = [
  'linkedin', 'mastodon', 'bluesky', 'threads', 'instagram', 'pinterest',
  'snapchat', 'facebook', 'vimeo', 'youtube', 'tiktok', 'twitch', 'bandcamp', 'soundcloud', 
  'tidal', 'spotify', 'github', 'gitlab', 'codeberg', 'discord', 'behance', 'dribbble', 
  'reddit', 'quora', 'substack', 'medium', 'wordpress', 'whatsapp', 'telegram', 'strava',
];

for (const social of defaultSocials) {
  socialIcons[social] = `simple-icons:${social}`;
}

let listClasses = 'flex items-center flex-wrap gap-2 text-base';

if( align === 'center' ) {
  listClasses = listClasses + ' justify-center';
}
---

{activeSocial.length > 0 && (
  <ul class={listClasses}>
    {activeSocial.map(([platform, url]) => {
      const key = platform.toLowerCase();
      const iconName = socialIcons[key] ?? fallbackIcon;

      return (
        <li>
          <a
            class="grid place-content-center text-dark bg-light rounded-full w-8 h-8 hover:bg-accent focus:bg-accent hover:scale-105 focus:scale-105 transition duration-500"
            href={url}
            aria-label={platform}
            target="_blank"
            rel="noopener noreferrer"
          >
            <Icon name={iconName} />
          </a>
        </li>
      );
    })}
  </ul>
)}