---
import "../assets/css/style.css";
import { Font } from "astro:assets";
import { getSettings } from '../lib/settings.js';

export interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
const settings = getSettings();

const pageTitle = title ? `${title} | ${settings.Header.Name}` : settings.Header.Name;
const pageDescription = description || settings.Header.Bio;

const bodyClasses = `font-sans text-body text-base bg-bg`
---

<!DOCTYPE html>
<html lang={settings.Content.Language}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{pageTitle}</title>
    <meta name="description" content="{pageDescription}">

    <Font cssVariable="--font-inter" preload />
</head>
<body class={bodyClasses}>
    <div class="container mx-auto px-5">
        <slot />
    </div>

    <script src="../assets/js/favicon.js"></script>
</body>
</html>