---
import BaseLayout from './BaseLayout.astro';
import Header from '../components/Header.astro';
import { getSettings } from '../lib/settings.js';
import Footer from '../components/Footer.astro';

const title = Astro.props.frontmatter?.title || Astro.props.content?.title || Astro.props.title;

const settings = getSettings();
---

<BaseLayout title={title}>
    <div class="flex flex-col min-h-screen">
      <Header name={settings.Header.Name} bio={settings.Header.Bio} />
      <main class="page-content max-w-prose mx-auto">
          {title && <h1>{title}</h1>}
          <slot />
      </main>
      <Footer txt={settings.Footer.Text} links={settings.Footer.Menu} align="center" class="pb-6 pt-12 mt-auto" />
    </div>
</BaseLayout>